h1{
	font-size:50px;
	text-align: center;
	color:#B22222;
}

h2{
	text-align: center;
	color: rgb(205,102,102);
	margin: 20px 0px;
}

h3{
	color:#FFA07A;	
}

.minides {
  margin:15px 10px;
}

div{
	margin: 10px 0px;
}

#credits{
	font-size: 15px;
}

body{
	background-color:#1E90FF;
}
